body {
    background-color: #A80404;    
    text-align: center;
}

p {
    color:white;
    font:Shanti;
    font-size: 1.2em;
    margin: 5px;
}
label {
    color:white;
    font:Shanti;
    font-size: 1.2em;
    margin: 5px;
}

img{
    margin: 60px 0 10px 0;
    width: 250px;
}

input {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    font: Shanti;
    text-align: center;
    font-size: 1.3em;
}

#pelicula {
    background-color: palevioletred;
    color: white;
    width: 200px;
}


#historial {
    background-color: palevioletred;
    color: white;
    width: 200px;
}