body {
    background-color: #A80404;    
    text-align: left;
}

a {
    color:white;
    font:Shanti;
    font-size: 2.0em;
    margin: 10px;
   
}

#btt {
    background-color: palevioletred;
    color: white;
    width: 40px;
}

#pelicula {
    background-color: palevioletred;
    color:white;
    font:Shanti;
    font-size: 1.5em;
    margin: 5px;
    border: none;
    border-radius: 10px;
    text-decoration:none
}