<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Consulta
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pelicula.css')}}">
    </head>
    <body>
        
        {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {% endfor %}

        <a href="/">Volver al inicio</a>
        <a href="javascript:history.go(-1)"> Volver Atrás</a>
            
    </body>
</html>