<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Historial
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css')}}">
    </head>
    <body>
        
        {% for message in get_flashed_messages()%}
            <a href="historial/{{message}}" >{{message}}</a>
            <br>
        {% endfor %}
        <a href="/" >Volver</a>
       
    </body>
</html>