<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            MOVlib
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
       <img src="https://gitlab.com/brydiaz/rit/-/raw/main/templates/movlib.png">  
       <br> 
       <form action="resultados" method="post">
           <p>Que deseas buscar?</p>
           <input type="text" name="name_input">
           <br>
           <input type="submit" value="Buscar" id="pelicula">
           <br>
           <label for="opciones">Evalaur resultados:</label>
           <select name="ops" id="ops">
             <option value="p@5">p@5</option>
             <option value="p@10">p@10</option>
             <option value="p@20">p@20</option>
            </select>           

           
       </form>

       <form action="historial" method="post">

        <input type="submit" value="Ver historial" id="historial">
        </form>
       

       
    </body>
</html>