<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Pelicula
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pelicula.css')}}">
    </head>
    <body>
        
        {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {% endfor %}

        <a href="/">Volver al inicio</a>
        <a href="javascript:history.go(-2)"> Volver Atrás</a>
        <form action="util" method="post">
         <input type="submit" value="Fue Util" id="pelicula">
         </form>
            
    </body>
</html>