<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Resultados
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css')}}">
    </head>
    <body>
        
        {% for message in get_flashed_messages()%}
            <a href="pelicula/{{message}}" >{{message}}</a>
            <br>
        {% endfor %}
        <form action="otra_consulta" method="post">
            <input type="submit" value="Realizar otra consulta" id="pelicula">
        </form>
       
    </body>
</html>